<div class="card card-bordered bg-neutral text-neutral-content shadow-xl">
  <div class="card-body">
    <div class="card-title" *ngIf="data.title">{{data.title}}</div>
    <form (submit)="submit()" class="flex flex-col">
      <textarea [formControl]="control" cols="80" rows="5" [placeholder]="data.placeholder" class="textarea" *ngIf="data.type==='textarea' || data.type === undefined"></textarea>
      <input type="text" [formControl]="control" [placeholder]="data.placeholder" class="input" *ngIf="data.type==='input'" />
      <button class="btn" [disabled]="!control.valid" type="submit">Submit</button>
    </form>
  </div>
</div>
