<div class="card lg:card-side card-bordered bg-neutral text-neutral-content shadow-xl">
  <div class="p-2 flex items-center justify-center flex-col bg-neutral/20 rounded-2xl text-white lg:min-w-32 lg:max-w-40">
    <figure class="w-12">
      <img src="./assets/icons/classes/class_{{character.class.toString().padStart(2,'0')}}.png" alt="">
    </figure>
    <span class="font-black">{{ character.name }}</span>
    <span>{{ character.ilvl }}</span>
  </div>
  <div class="card-body flex flex-col justify-between p-4">
    <ng-content></ng-content>
  </div>
</div>
